<footer>
	<h2>Universidad de Jaén</h2>
	<p> Campus Las Lagunillas s/n | 23071 - Jaén<br />
		Tlf: +34 953 21 21 21 | Fax: +34 953 21 22 39 | <a href="mailto:uvirtual@ujaen.es">uvirtual@ujaen.es</a><br/>
		<a href="http://www10.ujaen.es/aviso-legal">Aviso legal</a> | <a href="http://administracionelectronica.ujaen.es/node/129">Sugerencias</a></p>
</footer>