<header class='header bg-gris'>
	<figure class='header__logo left'>
		<%= image_tag('logo.gif', class: 'header__logo__image') %>
	</figure>

	<h1 class='header__title'>Sistema Microblogging</h1>

	<% if user_signed_in? %>
	<%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
	<figure  class='header__avatar left'>
		<%= image_tag('avatar.jpg', class: 'header__avatar__image') %>
	</figure>
	<% end %>
</header>