#logo{
	width: 40px;
	display: inline-block;
	margin: .25em 0 0 .5em;
}
.btn{
	box-shadow: 0px 1px 4px 0 black;
}

.btn-navbar{
	color: #FFF !important;
	padding: .5em 1em !important;
	margin: .5em 2em !important;
	&:hover{
		background: #2e6da4 !important;
	}
}

.btn-primary{
	&:hover{
		background: #2e6da4 !important;
	}
	&:focus{
		background: #2e6da4 !important;
	}
}

.navbar-nav{
	margin: 0;
	float: left;
}

