@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?iwovdv');
	src:url('icomoon.eot?#iefixiwovdv') format('embedded-opentype'),
		url('icomoon.ttf?iwovdv') format('truetype'),
		url('icomoon.woff?iwovdv') format('woff'),
		url('icomoon.svg?iwovdv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-new-message:before {
	content: "\e600  ";
}
.icon-home:before {
	content: "\e601  ";
}
.icon-user:before {
	content: "\e602  ";
}
.icon-menu:before {
	content: "\e603  ";
}
.icon-exit:before {
	content: "\e604  ";
}
