ul{
	margin: 0;
	padding: 0;
}

nav{
	background: #ACB8C1;
	padding: 0 1em;
	position: relative;

	ul{
		font-weight: bold;
		list-style: none;

		li{
			display: inline-block;
			margin: 0 1em 0 0;
			text-transform: uppercase;

			a{
				display: block;
				padding: 0.5em 0;
			}
		}
		
	}
}

#new-post{
	padding: 0; 
	position: absolute;
	top: -0.4em;
	right: 0;
	box-shadow: rgba(0,0,0, 0.5) 4px 4px 5px;

	a{
		background: #0B60E1;
		padding: 0.8em;
		color: white;
	}
}