.post{
	border-radius: 8px;
	box-shadow: 3px 3px 4px #D0D0D0;
	margin-top: .5em;
}
.media-ago{
	float: right;
	margin: 0 1em;
}
.media-object
{
	margin: .5em;
	width: 60px;
}

.media-heading{
	margin: .5em 0;
}

.post__user--0{
	background: #E4F2FF;			
}
.post__user--2{
	background: #EEE;
}


