.posts{
	border-radius: 10px;
	margin: .5em 0;
	overflow: hidden;
	position: relative;
}
	.posts__user{
		border-right: 1px solid #049FE1;
		margin: .5em 0;
		text-align: center;
		width: 6.5em;
	}

		.posts__user__avatar{
			border-radius: 50%;
			border: 1px solid #049FE1;
			width: 60px;
		}
			.posts__user__avatar--0{
				border: 1px solid red;
			}
			.posts__useravatar--1{
				border: 1px solid yellow;
			}

	.posts__content{
		margin: 0em 0em 0em 6.5em;
		padding: .5em 1em 2em;

		.post__content__actions{
			position: absolute;
			bottom: 0;
			margin: .5em 0;
			a{
				margin: 0 1em 0 0;
			}
		}
	}

.post{
	padding: 1em;

	textarea{
		margin: 1em auto;
		padding: 10px;
		resize: none;
	}
}
@media screen and (min-width: 768px){
	.post{
		max-width: 500px;
	}
}