img{
	width: 30px;
}

a{
	color: #0060A9;
	&:link{   
	 text-decoration:none;   
	} 
}


body{
	margin-top: 4em;
	background: #B6CAD4;
	background: #ACB8C1;
}

h1{
	color: #094F99;
	margin: 0;
}

h2{
	color: #049FE1;
	margin: 0;
	padding: .5em 0;
}

body{
	font-family: Serif;
	font-size: 16px;
}

ul{
	list-style: none;
}
textarea{
	resize: none;
}