.alert-alert {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-notice {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

#follow_form{
	margin: .5em 1em;
}

.stats{
	margin: .5em auto;
	width: 300px;
}

.stat{
	border-radius: 50%;
	display: inline-block;
	padding: 0 10px;

	strong{
		display: block;
	}
}

.profile-avatar{
	margin: .5em;
	text-align: center;
}

.profile-fields{
	display: inline-block;
}

.profile-name{
	color: #094F99;
	font-size: 21px;
	margin: 0;
	padding: 0;
}


