.u-floatLeft,
.u-left {
	float: left;
}

.u-floatRight,
.u-right {
	float: right;
}

.u-textCenter {
  text-align: center;
}

.u-uppercase {
	text-transform: uppercase;
}

.bg--gray{
	background: #F1F1F1;
}



